.board {
    width: 800px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .quadrant {
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 10px;
  }
  
  .square {
    background-color: #fff;
    border: 1px solid #c4b3b3;
    padding: 20px;
    text-align: center;
  }
  
  #start {
    background-color: #ff69b4;
  }
  
  .top-left .square:nth-child(even),
  .top-right .square:nth-child(odd),
  .bottom-left .square:nth-child(odd),
  .bottom-right .square:nth-child(even) {
    background-color: #ccc;
  }