body{
    overflow-x: hidden;
    }
    .container {
        padding: 20px;
    }
    
    
    h2 {
        text-align: left;
        margin-bottom: -20px;
        margin-left: 21px;
    }
    
    
    .product-grid {
        display: flex;                
        justify-content: space-around; 
        flex-wrap: nowrap;             
        gap: 10px;                        
        padding: 10px;    
    }
    
    
    .product-card {
       
        border-radius: 8px;
        padding: 15px;
        width: 200px;             
        text-align: center;
       
    }
    
    
    .product-image {
        width: 100%;
        height: auto;
        margin-bottom: -10px;
    }
    
    
    .product-title {
        font-size: 1.2rem;
        margin-top: 10px;
    }
    
    
    .product-price {
        font-size: 1rem;
        margin-bottom: 15px;
    }
    
    .add-to-cart-button {
        background-color: #6196FF;
        color: white;
        border: none;
        padding: 10px 15px;
        cursor: pointer;
        border-radius: 5px;
        
    }
    
    .add-to-cart-button:hover {
        background-color: #6196FF;
    }
    
      .cart{
        margin-left: 1175px;
        margin-top: -53px;
      }
    
      .background-img {
        position: relative; 
        width: 100%;
        height: 400px;
        margin-top: 30px;
        margin-left: -8px;
        
      }
    
      .bg-img-text {
        position: absolute; 
        top: 50%; 
        left: 20px; 
        transform: translateY(-50%); 
        color: white;
    }
    
    .bg-img-text p {
        margin-left: 50px;
        font-size: 40px; 
        font-weight: bold;
        font-family: sans-serif; 
    }
    
    .text {
        position: absolute; 
        top: 50%; 
        left: 20px; 
        transform: translateY(-50%); 
        color: white;
    }
    
    .text p{
        margin-left: 50px;
        margin-top: 320px;
        font-size: 18px; 
        font-weight: bold;
        font-family: sans-serif;
    }
    
    .price-and-button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        
    } 
    
    .author{
        font-size: 1rem;
        margin-top: -10px;
        color: #A5A5A5;
    }